/*/.settings
/*/logs
/*/target
/logs
/*/.classpath
/*/*.bak
/*/.project
/*/*.log
/*/*.log.*
/.project
/.idea/*
/*/*.iml
/*.iml
/.settings
/*/bin
/upload
/assembly.xml~
/pom.xml~
/target/*
/target/*
/mvn.log
.DS_Store
/*.iml
.idea
/.out/*